body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #CD5C5C;
  text-align: center;
}

h4 {
  font-weight: normal;
}

.books-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
}

.book-box {
  border: solid 0.5px;
  margin-bottom: 3vh;
  overflow-wrap: break-word;
  padding: 12px;
  padding-top: 3px;
  width: 70%;
  word-wrap: break-word;
}

.highlight {
  font-weight: bold;
}

/* Media queries */
@media(min-width: 968px) {
.book-box {
  width: 50%;
}
}