body {
  /* background: #FFE4B5; */
  /* background-image: url("unsplash_books.jpg");
  background-position: right; 
  background-repeat: no-repeat;
  background-size: cover;  */
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  color: #CD5C5C;
  text-align: center;
}

h4 {
  font-weight: normal;
}

.books-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vh;
}

.book-box {
  border: solid 0.5px;
  margin-bottom: 3vh;
  padding: 12px;
  padding-top: 3px;
  width: 50%;
}

.highlight {
  font-weight: bold;
}